.chat-container .room-name-container {
    padding: 10px;
    border-radius: 3px;
}
.chat-container {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
    position: relative;
}
#top-options-bar {
    height: 60px;
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.6);
    -ms-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.6);
}
#top-options-bar .btn {
    width: auto;
    margin: 0 20px 0 0;
    line-height: 1.2;
    max-width: 140px;
    font-size: 0.8em;
    padding: 5px 15px;
}
@media screen and (min-width: 600px) {
    #top-options-bar .btn {
        line-height: 36px;
        max-width: initial;
    }
}
.square-button-small {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 5px;
}
.active-members {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.active-members i {
    display: inline-block;
    font-weight: bolder;
    margin: 10px;
    padding: 8px;
    border-radius: 3px;
    font-size: 12px;
}
.active-members span {
    color: #48027e;
    font-family: 'Comfortaa', Helvetica, sans-serif;
}
#messages {
    height: 60vh;
    max-height: 60vh;
    max-width: 800px;
    margin: 10px auto;
    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
    border-radius: 4px;
    padding: 5px;
    text-align: left;
}

#message-submit {
    padding: 0;
    background-color: transparent;
    border: none;
    background: url(./../../img/send.svg);
    background-size: 50px 50px; 
    width: 50px;
    height: 50px;
}
#message-submit:focus,
#message-submit:active {
    outline: none;
    border: none;
    box-shadow: none;
}

form#messageForm {
    max-width: 700px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 50px;
    margin: 0 auto;
}
@media screen and (min-width: 900px) {
    form#messageForm {
        box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.6);
    }
}
#stickerSearch {
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -o-transition: all 0.5;
    transition: all 0.5;
    color: #7200ca;
    position: absolute;
    left: 0;
    padding: 15px 5px;
    opacity: 0.6;
}
input#toggleStickerSearch {
    display: none;
}

#jet-container {
    max-width: 115px;
    min-width: 55px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
svg#jet-smoke {
    z-index: 1;
    margin-right: -22px;
}
input#inputMessage {
    width: 100%;
    padding-left: 2em;
}
#removeInputBtn {
    cursor: pointer;
    position: absolute;
    right: 6em;
    background: none;
    color: #d50000;
    padding: 12px 5px;
    font-size: 12px;
}
.message {
    margin: 10px 0px;
    text-align: left; 
}
.message .message-details {
    display: inline-block;
}
.message .message-details .message-createdAt, 
.message .message-details > .message-user-name {
    display: block;
    text-align: left;
}
.message .message-details > .message-user-name {
    color: #fff;
    font-size: 12px;
}
.message .message-createdAt {
    font-size: 10px;
}
.message .message-text {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.75);
    padding: 6px 10px;
    margin: 0px 5px;
    font-size: 12px;
    display: inline-block;
}
.message .message-text .location-link {
    font-weight: bold;
    color: #00bfff;
}

#searchResults {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    flex-flow: wrap;
    z-index: 999;
    bottom: 50px;
    left: 0;
    right: 0;
    align-items: flex-start;
    width: 100%;
    justify-content: space-evenly;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fff;
    box-shadow: 0 -12px 12px 0 rgba(0,0,0,0.25);
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -o-transition: all 0.5;
    transition: all 0.5;
    -webkit-transform: translateY(40vh);
    -moz-transform: translateY(40vh);
    -o-transform: translateY(40vh);
    transform: translateY(40vh);
}
#searchResults.open {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
}