@media only screen and (min-width: 319px) {
    /* .container  {

    } */
}
@media only screen and (min-width: 479px) {
    /* .container  {

    } */
}
@media only screen and (min-width: 767px) {
    .container  {
        max-width: 70vw;
        width: 70vw;
        min-height: 75vh;
        height: 75vh;
        top: 10vh;
        position: relative;
        margin: 0 auto;
        border-radius: 3px;
    }
}
@media only screen and (min-width: 959px) {
    /* .container  {
        max-width: 50vw;
    } */
}
@media only screen and (min-width: 1439px) {
    /* .container  {

    } */
}