*,
*::after,
*::before, 
html, 
body {
    box-sizing: border-box;
    -ms-box-sizing: border-box;    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
}
html, body {
    font-family: 'Comfortaa', Helvetica, sans-serif;
    background-color: #151515;     
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
strong {
    font-family: 'Advent Pro', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
*::-webkit-scrollbar {
    width: 5px; 
} 
*::-webkit-scrollbar-track {
    background-color: #04756F; 
} 
*::-webkit-scrollbar-thumb {
    background: orangered; 
} 
*::selection,
*::-moz-selection {
    background-color: transparent; 
}
* {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; 
}
  
/*-----------------------STYLES--------------------*/
.container {
    min-height: 100%;
    padding: 10px;
    color: #e254ff;    
    background-color: #aa00ff;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
}
#searchResults {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    flex-flow: wrap;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -o-transition: all 0.5;
    transition: all 0.5;
    -webkit-transform: translateY(-40vh);
    -moz-transform: translateY(-40vh);
    -o-transform: translateY(-40vh);
    transform: translateY(-40vh);
}
#searchResults.open {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
}
#welcomeMessage {
    margin: 10px auto;
    display: inline-block;
    width: 100%;
}
.active-members {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.active-members p {
    display: inline-block;
    margin: 0;
    font-size: 0.8em;
    font-weight: bolder;
}
.active-members i{
    color: #00e676;
    border-radius: 50%;
    box-shadow: 0px 0 2px 2px rgba(0,0,0,0.6);
    margin-right: 10px;
}
#messages {
    height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
    background-color: #7200ca;    
    font-weight: 300;
    border-radius: 5px;
    padding: 15px;
    text-align: left;
}
i.closeResultsBtn {
    position: absolute;
    right: 4em;
    padding: 10px 0;
}
input {
    border-radius: 5px;
    text-align: left;
    padding: 8px;
}
#submit {
    padding: 0;
    background-color: transparent;
    border: none;
    background: url(./../img/send.svg);
    background-size: 50px 50px; 
    width: 50px;
    height: 50px;
}
#submit:focus,
#submit:active,
input:focus
input:active {
    outline: none;
    border: none;
}
/* add support */
form#messageForm {
    padding: 8px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: relative;
}
#stickerSearch {
    color: #7200ca;
    position: absolute;
    left: 0;
    padding: 10px 5px;
    opacity: 0.7;
}
input#toggleStickerSearch {
    display: none;
}
#jet-container {
    max-width: 115px;
    min-width: 55px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
svg#jet-smoke {
    z-index: 1;
    margin-right: -22px;
}
input#inputMessage {
    width: 100%;
    padding-left: 2em;
}
input#submit {
    z-index: 2;
}
#removeInputBtn {
    position: absolute;
    right: 4em;
    padding: 10px 0;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #e254ff;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

#green,
#purple,
#blue,
#orange,
#red {
    outline: none;
    display: none;
}

#selectColor label {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: inline-block;
}

#green:active,
#green:focus,
#purple:active,
#purple:focus,
#blue:active,
#blue:focus,
#orange:active,
#orange:focus,
#red:active,
#red:focus {
    outline: none;
}


#green + label {
    background-color: #76ff03;
    border: 1px inset #32cb00;
    /* light #b0ff57 */
    /* dark #32cb00 */
}
#purple + label {
    background-color: #aa00ff;
    border: 1px inset #7200ca;
    /* light #e254ff */
    /* dark #7200ca */
}
#blue + label {
    background-color: #1976d2;
    border: 1px inset #004ba0;
    /* light #63a4ff */
    /* dark #004ba0 */
}
#orange + label {
    background-color: #ff3d00;
    border: 1px inset #c30000;
    /* light #ff7539 */
    /* dark #c30000 */
}
#red + label {
    background-color: #d50000;
    border: 1px inset #9b0000;
    /* light #ff5131 */
    /* dark #9b0000 */
}


/* THEMES */
/* -------------------------------GREEN----------------------- */
body.green {
    background-color: #258f02;
}
body.green .container,
body.green .btn-3d:active {
    color: #b0ff57;
    background-color: #76ff03;
}
body.green #messages,
body.green #modal-19 .perspective button.btn-3d:focus,
body.green #modal-19 .perspective button.btn-3d:hover,
body.green .btn-3d::after {
    background-color: #32cb00;
}
body.green #stickerSearch,
body.green .active-members p {
    color: #32cb00;
}
body.green .btn-3d,
body.green .btn-3d:hover, .btn-3d:focus {
    background-color: #b0ff57;
}
body.green .md-overlay {
    background: rgba(50, 203, 0, 0.8);
}
body.green .md-content {
    background-color: #76ff03;
}

/* -------------------------------PURPLE----------------------- */
body.purple {
    background-color: #48027e;
}
body.purple .container,
body.purple .btn-3d:active {
    color: #e254ff;
    background-color: #aa00ff;
}
body.purple #messages,
body.purple #modal-19 .perspective button.btn-3d:focus,
body.purple #modal-19 .perspective button.btn-3d:hover,
body.purple .btn-3d::after {
    background-color: #7200ca;
}
body.purple #stickerSearch,
body.purple .active-members p{
    color: #7200ca;
}
body.purple .btn-3d,
body.purple .btn-3d:hover, .btn-3d:focus {
    background-color: #e254ff;
}
body.purple .md-overlay {
    background: rgba(114, 0, 202, 0.8);
}
body.purple .md-content {
    background-color: #aa00ff;
}


/* -------------------------------BLUE----------------------- */
body.blue {
    background-color: #002a5a;
}
body.blue .container,
body.blue .btn-3d:active {
    color: #63a4ff;
    background-color: #1976d2;
}
body.blue #messages,
body.blue #modal-19 .perspective button.btn-3d:focus,
body.blue #modal-19 .perspective button.btn-3d:hover,
body.blue .btn-3d::after  {
    background-color: #004ba0;
}
body.blue #stickerSearch,
body.blue .active-members p{
    color: #004ba0;
}
body.blue .btn-3d,
body.blue .btn-3d:hover, .btn-3d:focus {
    background-color: #63a4ff;
}
body.blue .md-overlay {
    background: rgba(0, 75, 160, 0.8);
}
body.blue .md-content {
    background-color: #1976d2;
}


/* -------------------------------ORANGE----------------------- */
body.orange {
    background-color: #7e0101;
}
body.orange .container,
body.orange .btn-3d:active {
    color: #ff7539;
    background-color: #ff3d00;
}
body.orange #messages,
body.orange #modal-19 .perspective button.btn-3d:focus,
body.orange #modal-19 .perspective button.btn-3d:hover,
body.orange .btn-3d::after {
    background-color: #c30000;
}
body.orange #stickerSearch,
body.orange .active-members p{
    color: #c30000;
}
body.orange .btn-3d,
body.orange .btn-3d:hover, .btn-3d:focus {
    background-color: #ff7539;
}
body.orange .md-overlay {
    background: rgba(195, 0, 0, 0.8);
}
body.orange .md-content {
    background-color: #ff3d00;
}

/* -------------------------------RED----------------------- */
body.red {
    background-color: #530000;
}
body.red .container,
body.red .btn-3d:active {
    color: #ff5131;
    background-color: #d50000;
}
body.red #messages,
body.red #modal-19 .perspective button.btn-3d:focus,
body.red #modal-19 .perspective button.btn-3d:hover,
body.red .btn-3d::after {
    background-color: #9b0000;
}
body.red #stickerSearch,
body.red .active-members p{
    color: #9b0000;
}
body.red .btn-3d,
body.red .btn-3d:hover, .btn-3d:focus {
    background-color: #ff5131;
}
body.red .md-overlay {
    background: rgba(155, 0, 0, 0.8);
}
body.red .md-content {
    background-color: #d50000;
}

*.float-left {
    float: left;
}
*.float-right {
    float: right;
}
