/* light = rgb(161, 70, 247)
normal = rgb(98, 14, 177)
dark = rgb(57, 9, 105) */

*,
*::after,
*::before, 
html, 
body {
    box-sizing: border-box;
    -ms-box-sizing: border-box;    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    color: rgb(161, 70, 247);
    background-color: #151515;     
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    width: 5px; 
} 
*::-webkit-scrollbar-track {
    background-color: #04756F; 
} 
*::-webkit-scrollbar-thumb {
    background: orangered; 
} 
*::selection,
*::-moz-selection {
    background-color: transparent; 
}
* {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; 
}
  
/*-----------------------STYLES--------------------*/
#welcomeMessage {
    margin: 10px auto;
    display: inline-block;
    width: 100%;
}

.container {
    min-height: 100%;
    padding: 10px;
    background-color: rgb(98, 14, 177);
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
}

#messages {
    height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-wrap: break-word;
    overflow-x: hidden;
    background-color: rgb(57, 9, 105);    
    font-weight: 300;
    border-radius: 5px;
    padding: 15px;
    text-align: left;
}

strong {
    font-weight: bold;
    font-size: 1.2em;
}

input {
    border-radius: 5px;
    text-align: left;
    padding: 8px;
}

#submit {
    padding: 0;
    background-color: transparent;
    border: none;
    background: url(./../img/send.svg);
    background-size: 50px 50px; 
    width: 50px;
    height: 50px;
}

#submit:focus,
#submit:active,
input:focus
input:active {
    outline: none;
    border: none;
}

/* add support */
form#messageForm {
    padding: 8px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: relative;
}

#jet-container {
    max-width: 115px;
    min-width: 55px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
svg#jet-smoke {
    z-index: 1;
    margin-right: -22px;
}
input#inputMessage {
    width: 100%;
}
input#submit {
    z-index: 2;
}

#modal-19 .perspective button.btn-3d:focus,
#modal-19 .perspective button.btn-3d:hover {
    background-color: rgb(98, 14, 177);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(161, 70, 247);
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}