*,
*::after,
*::before, 
html, 
body {
    box-sizing: border-box;
    -ms-box-sizing: border-box;    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
}
html, body {
    font-family: 'Comfortaa', Helvetica, sans-serif;
    background-color: #151515;     
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
input:focus {
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
    transition: all 0.5;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}
strong {
    /* font-family: 'Advent Pro', Helvetica, sans-serif; */
    font-weight: bold;
    font-size: 1.2em;
}
  
/*-----------------------STYLES--------------------*/
.container {
    height: 100%;
    padding: 10px;
    color: #000;    
    background-color: #c1d5e0;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
}
.welcomeMessage {
    padding: 0 20px;
}

input {
    border-radius: 5px;
    text-align: left;
    padding: 8px;
    border: none;
    font-size: 1rem;
    /* fixes input bug on safari */
    -webkit-user-select: text; 
}
input:focus
input:active {
    outline: none;
    border: none;
}

*.float-left {
    float: left;
}
*.float-right {
    float: right;
}
